<!-- carousel starts -->
<div id="carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">

    <div class="item active">
      <img src="assets/carousel_1.jpg" alt="Slide 1"/>
    </div>
    <div class="item">
      <img src="assets/carousel_2.jpg" alt="Slide 2"/>
    </div>
    <div class="item">
      <img src="assets/carousel_3.jpg" alt="Slide 3"/>
    </div>
  </div>
  <a href="#carousel" class="left carousel-control" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a href="#carousel" class="right carousel-control" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<!-- carousel ends -->

<section id="four portfolio" class="wrapper style1 special">
  <!-- Requests Grid Section -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>
          <i class="fa fa-bar-chart-o"></i>Trending Requests</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 portfolio-item">
        <div class="card">
          <div class="caption">
            <div class="caption-content">
              <img src="/assets/japan_2.jpg" class="img-responsive img-rounded fixed-height" alt="">
              <h3 class="text-center">Kendama</h3>
              <h4 class="text-center">22 requests</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 portfolio-item">
        <div class="card">
          <div class="caption">
            <div class="caption-content">
              <img src="/assets/japan_2.jpg" class="img-responsive img-rounded fixed-height" alt="">
              <h3 class="text-center">Kendama</h3>
              <h4 class="text-center">98 requests</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 portfolio-item">
        <div class="card">
          <div class="caption">
            <div class="caption-content">
              <img src="/assets/japan_2.jpg" class="img-responsive img-rounded fixed-height" alt="">
              <h3 class="text-center">Kendama</h3>
              <h4 class="text-center">4 requests</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 portfolio-item">
        <div class="card">
          <div class="caption">
            <div class="caption-content">
              <img src="/assets/japan_2.jpg" class="img-responsive img-rounded fixed-height" alt="">
              <h3 class="text-center">Kendama</h3>
              <h4 class="text-center">22 requests</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 portfolio-item">
        <div class="card">
          <div class="caption">
            <div class="caption-content">
              <img src="/assets/japan_2.jpg" class="img-responsive img-rounded fixed-height" alt="">
              <h3 class="text-center">Kendama</h3>
              <h4 class="text-center">98 requests</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 portfolio-item">
        <div class="card">
          <div class="caption">
            <div class="caption-content">
              <img src="/assets/japan_2.jpg" class="img-responsive img-rounded fixed-height" alt="">
              <h3 class="text-center">Kendama</h3>
              <h4 class="text-center">4 requests</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="four portfolio" class="wrapper style1 special">
  <!-- Posters Grid Section -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>
          <i class="fa fa-users"></i>Top Posters</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 portfolio-item">
        <div class="card">
          <div class="caption">
            <div class="caption-content">
              <img src="/assets/japan_2.jpg" class="img-responsive img-rounded fixed-height" alt="">
              <h3 class="text-center">Kendama</h3>
              <h4 class="text-center">22 requests</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 portfolio-item">
        <div class="card">
          <div class="caption">
            <div class="caption-content">
              <img src="/assets/japan_2.jpg" class="img-responsive img-rounded fixed-height" alt="">
              <h3 class="text-center">Kendama</h3>
              <h4 class="text-center">98 requests</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 portfolio-item">
        <div class="card">
          <div class="caption">
            <div class="caption-content">
              <img src="/assets/japan_2.jpg" class="img-responsive img-rounded fixed-height" alt="">
              <h3 class="text-center">Kendama</h3>
              <h4 class="text-center">4 requests</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 portfolio-item">
        <div class="card">
          <div class="caption">
            <div class="caption-content">
              <img src="/assets/japan_2.jpg" class="img-responsive img-rounded fixed-height" alt="">
              <h3 class="text-center">Kendama</h3>
              <h4 class="text-center">22 requests</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 portfolio-item">
        <div class="card">
          <div class="caption">
            <div class="caption-content">
              <img src="/assets/japan_2.jpg" class="img-responsive img-rounded fixed-height" alt="">
              <h3 class="text-center">Kendama</h3>
              <h4 class="text-center">98 requests</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 portfolio-item">
        <div class="card">
          <div class="caption">
            <div class="caption-content">
              <img src="/assets/japan_2.jpg" class="img-responsive img-rounded fixed-height" alt="">
              <h3 class="text-center">Kendama</h3>
              <h4 class="text-center">4 requests</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Five -->
<section id="five" class="">
  <div class="container-fluid red-bg signup-form">
    <h2 class="text-center">Sign up and start posting</h2>
    <a href="#" class="action-button shadow animate blue centered">Get Started</a>
  </section>

  <!-- Footer -->
  <footer id="footer">
    <div class="container-fluid centered">
	<a href="#" class="fa fa-twitter">
		<span class="label">Twitter</span>
  </a>
  <a href="#" class="fa fa-facebook">
    <span class="label">Facebook</span>
  </a>
  <a href="#" class="fa fa-linkedin">
    <span class="label">LinkedIn</span>
  </a>
  <a href="#" class="fa fa-instagram">
    <span class="label">Instagram</span>
  </a>
  <a href="#" class="fa fa-github">
    <span class="label">GitHub</span>
  </a>
  <a href="#" class="fa fa-envelope">
    <span class="label">Email</span>
  </a>
</div>
</footer>

</div>

<!-- Scripts -->
<script src="/assets/jquery.min.js"></script>
<script src="/assets/jquery.scrolly.min.js"></script>
<script src="/assets/jquery.dropotron.min.js"></script>
<script src="/assets/jquery.scrollex.min.js"></script>
<script src="/assets/skel.min.js"></script>
<script src="/assets/util.js"></script>
<!--[if lte IE 8]><script src="/assets/ie/respond.min.js"></script><![endif]-->
<script src="/assets/main.js"></script>

</body>
</html>
