<!-- carousel starts -->
<!-- <div id="carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">

    <div class="item active">
      <img src="assets/carousel_1.jpg" alt="Slide 1"/>
    </div>
    <div class="item">
      <img src="assets/carousel_2.jpg" alt="Slide 2"/>
    </div>
    <div class="item">
      <img src="assets/carousel_3.jpg" alt="Slide 3"/>
    </div>
  </div>
  <a href="#carousel" class="left carousel-control" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a href="#carousel" class="right carousel-control" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> -->
<!-- carousel ends -->

	<body class="landing">
		<div id="page-wrapper">

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>We've revolutionized getting stuff</h2>
							<p>&amp; everything is within reach.</p>
						</header>
						<span class="image"><img src="/assets/pic01.jpg" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="/assets/pic02.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>
										<h2>Odio faucibus ipsum integer consequat</h2>
										<p>Nascetur eu nibh vestibulum amet gravida nascetur praesent</p>
									</header>
								</div>
								<div class="4u 12u$(medium)">
									<p>Feugiat accumsan lorem eu ac lorem amet sed accumsan donec.
									Blandit orci porttitor semper. Arcu phasellus tortor enim mi
									nisi praesent dolor adipiscing. Integer mi sed nascetur cep aliquet
									augue varius tempus lobortis porttitor accumsan consequat
									adipiscing lorem dolor.</p>
								</div>
								<div class="4u$ 12u$(medium)">
									<p>Morbi enim nascetur et placerat lorem sed iaculis neque ante
									adipiscing adipiscing metus massa. Blandit orci porttitor semper.
									Arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer
									mi sed nascetur cep aliquet augue varius tempus. Feugiat lorem
									ipsum dolor nullam.</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="/assets/pic03.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Interdum amet non magna accumsan</h2>
							<p>Nunc commodo accumsan eget id nisi eu col volutpat magna</p>
						</header>
						<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
				<section id="four portfolio" class="wrapper style1 special">
          <!-- Portfolio Grid Section -->
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-12 text-center">
                              <h2><i class="fa fa-bar-chart-o"></i> Trending Requests</h2>
                              <hr class="star-primary">
                          </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4 portfolio-item">
                          <div class="card">
                            <div class="caption">
                              <div class="caption-content">
                                <img src="/assets/japan_2.jpg" class="img-responsive img-rounded fixed-height" alt="">
                                <h3>Kendama</h3>
                                <h4 class="portfolio-p">22 requests</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 portfolio-item">
                          <div class="card">
                            <div class="caption">
                              <div class="caption-content">
                                <img src="/assets/japan_2.jpg" class="img-responsive img-rounded fixed-height" alt="">
                                <h3>Kendama</h3>
                                <h4 class="portfolio-p">98 requests</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 portfolio-item">
                          <div class="card">
                            <div class="caption">
                              <div class="caption-content">
                                <img src="/assets/japan_2.jpg" class="img-responsive img-rounded fixed-height" alt="">
                                <h3>Kendama</h3>
                                <h4 class="portfolio-p">4 requests</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 portfolio-item">
                          <div class="card">
                            <div class="caption">
                              <div class="caption-content">
                                <img src="/assets/japan_2.jpg" class="img-responsive img-rounded fixed-height" alt="">
                                <h3>Kendama</h3>
                                <h4 class="portfolio-p">22 requests</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 portfolio-item">
                          <div class="card">
                            <div class="caption">
                              <div class="caption-content">
                                <img src="/assets/japan_2.jpg" class="img-responsive img-rounded fixed-height" alt="">
                                <h3>Kendama</h3>
                                <h4 class="portfolio-p">98 requests</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 portfolio-item">
                          <div class="card">
                            <div class="caption">
                              <div class="caption-content">
                                <img src="/assets/japan_2.jpg" class="img-responsive img-rounded fixed-height" alt="">
                                <h3>Kendama</h3>
                                <h4 class="portfolio-p">4 requests</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
        </section>

			<!-- Five -->
				<section id="five" class="wrapper style2 special">
					<div class="container">
						<header>
							<h2>Sign up and start posting</h2>
						</header>
							<div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                    <a href="#" class="action-button shadow animate blue">Get Started</a>
                </div>
					    </div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>

				</footer>

		</div>

		<!-- Scripts -->
			<script src="/assets/jquery.min.js"></script>
			<script src="/assets/jquery.scrolly.min.js"></script>
			<script src="/assets/jquery.dropotron.min.js"></script>
			<script src="/assets/jquery.scrollex.min.js"></script>
			<script src="/assets/skel.min.js"></script>
			<script src="/assets/util.js"></script>
			<!--[if lte IE 8]><script src="/assets/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/main.js"></script>

	</body>
</html>
